[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Startup-script
Comment=Start and move applications to their workspaces
Exec=/home/bbogdan/.config/xfce4/startup.sh
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

